<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FlatironCross Clinic</title>
        <link href="/stylesheets/sign_up.css" type="text/css" rel="stylesheet">
    </head>

<body>

    <nav>
        <ul id="nav-bar">
            <a class="nav-link" href="/"><li>home</li></a>
        </ul>
    </nav>
    
    <img src="/med_cross.svg" id="med_cross">

    <section id="log_in_form">
        <h2>Employee Portal</h2>
        <form action="/employee" method="POST">
        <div class="imgcontainer">
            <img src="/employee.svg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label class="e-mail" for="email"><b>E-mail:</b></label>
            <input class="e-mail" type="email" placeholder="Enter E-mail.." name="email" required>

            <label class="password" for="password"><b>Password:</b></label>
            <input class="password" type="password" placeholder="Enter Password.." name="password" required>
        
            <button type="submit">Login</button>
        </div>
        </form>
    </section> 

     <footer>
        <ul id="footer">
            <a class="footer-link"><li>All rights reserved © FlatironCROSS Clinic 2020 | powered by: oliverfeher</li></a> 
            <%if @current_user%>
                <a id="employee_login" href="/users/<%=@current_user.id%>/index"><li>Logged in as: <span><%=@current_user.email%></span></li></a>
            <%elsif @current_employee%>
                <a id="employee_login" href="/employee/<%=@current_employee.id%>/index"><li id="first_javascript" onmouseover="changeName()" onmouseleave="changeNameBack()">Logged in as: <span><%=@current_employee.email%></span></li></a>
            <%else%> 
                <a id="employee_login" href="/employee/login"><li>employee portal</li></a>
            <%end%>      
        </ul>
    </footer>
    
</body>