body {
    max-height: 100vh;
    width: 100%;
    background-color: rgb(25, 111, 208);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    font-size: 1.3em;
}

.nav-link {
    margin-top: 10px;
    margin-right: 35px;
    text-decoration: none;
    color: #F0F0F2;
    padding: 10px;
}


.nav-link:hover {
    background-color: rgb(240, 240, 242);
    color: #196FD0; 
    border-radius: 15px;
    border: none;
}

#log-out-button {
        color: black
}

#log-out-button:hover {
        cursor: pointer;
        color: red;
}


#cta-button {
        color: #f0f0f2;
        text-align: center;
        background-color: #196FD0;
        position: absolute;
        border-radius: 15px;
        align-self: flex-end;
        padding: 15px 30px 15px 30px;
        text-decoration: none;
        z-index: 5;
        margin-top: 25%;
        margin-left: -20%;
        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

#cta-button:hover {
        cursor: pointer;
        transform: scale(1.1);
}
#cta-button:active {
        background-color: #196FD0;
        box-shadow: 0 5px rgb(153, 149, 149);
        transform: translateY(4px);
}

#title {
        margin-top: 8%;
        color: #f0f0f2;
        margin-left: 10%;
        animation: tracking-in-contract-bck-top 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#title h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 3em;
}

#title p {
        margin-bottom: 0;
}

#desc {
        margin-top: 0;
        font-size: 1.5em;
}

#title_logo {
        width: 100%;
        height: 55px;
        position: absolute;
        margin-left: -20%;
        margin-top: -2.5%;
}

#triangle {
    position: absolute;
    align-self: flex-end;
    height: 760px;
    width: 100;
    animation: bounce-in-top 1.5s 1s both;
    z-index: 2;
}

#med_staff {
    position: absolute;
    align-self: flex-end;
    z-index: 3;
    max-width: 350px;
    height: 400px;
    margin-left: -260px;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
}

#med_cross {
        position: absolute;
        margin-top: 18%;
        margin-left: -20%;
        width: 100%;
        height: 530px;
}

#work-grid {
        margin-top: 10%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        color: #f0f0f2;
}
.grid-tile-1 {
        grid-area: 1 / 1 / 2 / 2;  
        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
}
.grid_icons {
        height: 30px;
        width: 30px;
}

.grid-tile-2 {
        grid-area: 1 / 2 / 2 / 3;  
        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2.5s both;

}

.grid-tile-3 {
        grid-area: 1 / 3 / 2 / 4;  
        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 3s both;

}

.grid-width {
        background-color: rgba(255, 255, 255, 0.1);
        border-right: oldlace solid 2px;
}
.grid-width > * {
        margin-left: 10px;
        margin-top: 10px;
}

footer {
        position: fixed;
        background-color: #F0F0F2;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5vh;
}

#footer {
        display: flex;
        flex-direction: row;
        list-style: none;
}

.footer-link {
        margin-right: 20px;
}
#employee {
        height: 25px;
        margin-left: auto;
}

#employee_login {
        margin-top: 0;
        margin-right: 5%;
        text-decoration: none;
        color: black;
        margin-left: auto;
}
#employee_login:hover {
        cursor: pointer;
        color: #196FD0;
}

span {
        color: #196FD0; 
      }


  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
      @keyframes slide-in-blurred-left {
        0% {
          -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                  transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
          -webkit-transform-origin: 100% 50%;
                  transform-origin: 100% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }

      @keyframes tracking-in-contract-bck-top {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px) translateY(-300px);
                  transform: translateZ(400px) translateY(-300px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0) translateY(0);
                  transform: translateZ(0) translateY(0);
          opacity: 1;
        }
      }
      
      