body {
    max-height: 100vh;
    width: 100%;
    background-color: rgb(25, 111, 208);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    justify-self: center;
    align-self: center;
    font-size: 1em;
    color: white;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    font-size: 1.3em;
}

.nav-link {
    margin-top: 10px;
    margin-right: 35px;
    text-decoration: none;
    color: #F0F0F2;
    padding: 10px;
}


.nav-link:hover {
    background-color: rgb(240, 240, 242);
    color: #196FD0; 
    border-radius: 15px;
    border: none;
}

#log-out-button:hover {
  cursor: pointer;
  color: red;
}


input[type=email], input[type=password], input[type=text], input[type=radio], input[type=date], textarea, select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container {
  padding: 16px;
}

span {
  color: #196FD0; 
}

#upcoming {
  align-self: center;
  background-color: #f0f0f2;
  width: 60%;
  height: 20%;
  padding: 25px 50px 25px 50px;
  margin-top: 3%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

#big_container {
  display: flex;
  flex-direction: column;
}

.entry {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

footer {
  background-color: #F0F0F2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  margin-top: 5%;
}

#footer {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#employee_login {
  margin-top: 0;
  margin-right: 5%;
  text-decoration: none;
  color: black;
  margin-left: auto;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

#med_cross {
  position: absolute;
  margin-top: 18%;
  margin-left: -20%;
  width: 100%;
  height: 530px;
}

.by_doctor {
  font-size: 0.8em;
}

.imgcontainer {
    width: 20%;
    height: 20%;
    text-align: center;
    margin: 24px 20% 12px 0;
  }
  
  img.avatar {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }

  #p_prof {
      font-size: 1.6em;
  }

  h1 {
      font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    margin-top: -1%;
    color: #F0F0F2;
}

#span2 {
    color: orange;
}