<div class='imgcontainer'>
                <img src='/patient.svg' alt='Avatar' class='avatar'>
            </div>

            <div class='container'>
                <label class='full_name' for='full_name'><b>Full name:</b></label>
                <input class='full_name' type='text' placeholder='Enter first and last name..' name='full_name' required>
                
                <label class='dob' for='dob'><b>Date of birth:</b></label>
                <input class='dob' type='date' name='dob' required>
                
                <label class='gender' for='gender'><b>Gender:</b></label>
                <select name='gender' form='details' id='gender'>
                    <option value='Female'>Female</option>
                    <option value='Male'>Male</option>
                    <option value='other'>Other</option>
                </select>

                <label class='address' for='address'><b>Address:</b></label>
                <input type='text' class='address' placeholder='Enter address..' name='address' required>

                <label class='phone_number' for='phone_number'><b>Phone number:</b></label>
                <input class='phone_number' type='text' placeholder='Enter your phonenumber..' name='phone_number' required>
        
                <button type='submit'>Submit</button>
            </div>